body{
    background-color: #B4D2FF;

}
h1{
    text-align: center;
    margin-top: 25px;
    color:#1B13AF;
}
.enlarge-image{
    width: 100%;
    margin-top: 25px;
}
.text1{
    float: left;
}
.text2{
    float: right;
}
.raw:after{
    content:'';
    display:table;
    clear:both;  
}
h3{
    color:#1B13AF; 
    
}
.raw{
    font-size: 20px;
}
table, td{
    border: black 2px solid;
    border-collapse: collapse;
}









/* display:inline-block */