h2{
    font-weight: 700;
    color: #670C53;
    text-align: center;
    font-size: 30px;
    line-height: 18px;
    font-family: 'Inter';
}
.maindiv{
    padding-left: 400px;
}
.p1{
    text-decoration: underline;
    font-size: 26px;
    padding-left: 80px;
}
body{
    background-color:#E3DFE7;
    padding-left: 80px;
}
th{
    border: black 2px solid; 
    padding-left: 80px; 
}
.table1{
    border:black 2px solid;
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
}
.table1 td{
    border-left:black 2px solid;
    border-collapse: collapse;
}
.p2{
    font-size: 20px;
    padding-left: 80px ;   
}
h3{
    font-size: 28px;
    text-align: center;
}
.table2{
    text-align: center;
    border-collapse: collapse;
}
#t{
    padding-left: 500px;
}
